.features .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  width: 100%;
  gap: 72px;
  padding: 96px 16px;
}

.features .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.features .list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

.features .icon.soc-icon {
  display: none;
  width: auto;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
  color: #4d5ae5;
  align-items: center;
  justify-content: center;
}

.features .subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.features .list .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media (min-width: 768px) and (max-width: 1157.98px) {
  .features .container {
    min-width: 768px;
  }

  .features .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 72px 24px;
  }
}
