.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.header .link-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  gap: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #2e2f42;
  padding: 16px 0;
  /* padding-left: 16px; */
}

.header-menu-btn {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  margin-left: 149px;
  right: 0;
  top: 0;
  padding: 0;
}

.header .nav .link {
  font-weight: 500;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  display: inline-block;
  position: relative;
  transition: color 250ms;
}

.header .nav {
  display: none;
}

.nav .list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  padding-left: 0;
}

.nav .list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.header .nav .link.current {
  color: #404bbf;
}

.link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header .address {
  display: none;
}

.address .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.address .link-mailto,
.address .link-tel {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  font-style: normal;
  color: #434455;
  text-decoration: none;
  transition: color 250ms ease-in-out;
}

.address .link-mailto:focus,
.address .link-mailto:hover,
.address .link-tel:focus,
.address .link-tel:hover {
  color: #404bbf;
}

@media (min-width: 768px) and (max-width: 1157.98px) {
  .header .container {
    min-width: 768px;
    padding: 0 15px;
  }

  .header .link-logo {
    padding: 24px 0;
  }

  .header-menu-btn {
    display: none;
  }

  .header .nav {
    display: flex;
  }

  .header .address {
    display: flex;
  }
}

@media (min-width: 1158px) {
  .header .container {
    min-width: 1158px;
    padding: 0 15px;
  }

  .header .link-logo {
    padding: 24px 0;
    line-height: 117%;
  }

  .header-menu-btn {
    display: none;
  }

  .header .nav {
    display: flex;
    margin-left: 76px;
    margin-right: auto;
  }

  .header .address {
    display: flex;
  }

  .header .address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .address .link-mailto,
  .address .link-tel {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
  }
}
