.team {
  background-color: #f4f4fd;
}

.team .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 28px;
  gap: 72px;
}

.team .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.team .list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 264px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team .list-item:hover {
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.team-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 32px 16px;
}

.team .subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.team .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team .team-soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.team-soc-link {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms ease-in-out;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}

.team .icon {
  color: #f4f4fd;
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .team .container {
    max-width: 768px;
    width: 100%;
    padding: 96px 108px;
  }

  .team .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 64px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .team .container {
    max-width: 1158px;
    width: 100%;
    padding: 120px 15px;
  }

  .team .list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}
